<footer>
  <div class="footer-content">
      <p class="copyright-block">&copy; 2016. <strong>Paycrave</strong></p>
      <div class="icons">
        <a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <a href="#"><i class="fa fa-twitter-square"></i></a></li>
        <a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <a href="#"><i class="fa fa-twitter-square"></i></a></li>
      </div>
      <div>
        <img class="logo" src="https://storage.googleapis.com/paycrave/paycravelogo.png">
      </div>
    </div>
</footer>
